@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  /* *(별)선택자는 모든 태그에 적용 : 초기화 된다 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex로 가운데 정렬시 위 세개 다 써야함 */
  height: 100vh;
  /* 100vh : 화면높이의 100%. 높이가 없으면 정렬이 제대로 안 된다*/
  background: white;
  background-size: cover;
}
.wrapper {
  width: 420px;
  color: #333;
  border: 2px solid rgba(253, 251, 251, 0.2);
  /* border 투명한 흰색 */
  padding: 30px 40px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  width: 100%;
  height: 30px;
  margin: 50px 0;
  color: black;
}
.input-box input {
  width: 100%;
  height: 90%;
  background: white;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  color: black;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: grey;
}
.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 0 15px;
  color: black;
}
.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}
.remember-forgot a {
  color: grey;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  border: 1px solid black;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: grey;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a :hover {
  text-decoration: underline;
}
