@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  /* *(별)선택자는 모든 태그에 적용 : 초기화 된다 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex로 가운데 정렬시 위 세개 다 써야함 */
  height: 100vh;
  /* 100vh : 화면높이의 100%. 높이가 없으면 정렬이 제대로 안 된다*/
  background: white;
  background-size: cover;
}
.wrapper {
  width: 420px;
  color: #333;
  border: 2px solid rgba(253, 251, 251, 0.2);
  /* border 투명한 흰색 */
  padding: 30px 40px;
}

.wrapper h1 {
  font: 28px;
  text-align: center;
  padding-bottom: 30px;
}

.wrapper h5 {
  font-size: 13px;
  text-align: right;
  text-decoration: none;
}

.login-option {
  margin-top: 20px;
  text-align: center;
}

.login-option h5 {
  margin: 0;
}

.login-option a {
  text-decoration: none;
  color: black;
  border: solid black 1px;
  box-sizing: border-box;
  line-height: 50px;
}

.wrapper .input-box {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  color: black;
}
.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid rgb(199, 194, 194);
  background: transparent;
  font-size: 15px;
  color: rgb(194, 189, 189);
  margin-left: 0px;
}
.input-box input[type="text"]:focus,
.input-box input[type="password"]:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.input-box ::placeholder {
  color: grey;
}

.input-box :focus:hover {
  color: black;
}

.wrapper .remember-forget {
  font-size: 14px;
  color: grey;
  margin-bottom: 30px;
  text-align: left;
}

.remember-forget[type="checkbox"] {
  color: rgb(194, 189, 189);
}

.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  border: 1px solid black;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: grey;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a :hover {
  text-decoration: underline;
}
